.wrapper {
  width: 360px;
  height: 480px;
  border-radius: 5px;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 0 10px black;
  }

  background-color: #fff;
}

.link {
  text-decoration: none;
  display: block;
  color: black;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.img {
  height: 132px;
  width: 100%;
}

.video {
  height: 132px;
  width: 100%;
  display: block;
}

.notFound {
  height: 132px;
  display: block;
}

.videoDisabled {
  display: none;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 132px);

  h2 {
    margin-top: 3px;
    font-size: 18px;
    text-align: center;
  }

  p,
  div {
    font-size: 16px;
    text-align: justify;
    font-weight: 600;
  }

  .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .skills {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
  }

  .lessons {
    font-size: 20px;
    color: purple;
  }

  .tags {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;

    .tag {
      padding: 5px 10px;
      margin-top: 5px;
    }
  }

  .tag {
    color: purple;
    border: 2px solid purple;
    padding: 3px 6px;
    border-radius: 5px;
    width: fit-content;
  }
}

@media (max-width: 576px) {
  .wrapper {
    width: 100%;
    height: auto;

    .img,
    .video,
    .notFound {
      height: 250px;
      width: 100%;
    }
  }

  .info {
    h2 {
      font-size: 23px;
    }

    p,
    div {
      font-size: 18px;
      text-align: center;
    }

    .line {
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
      letter-spacing: 2px;

      &:last-child {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        p {
          margin: 5px 0;
        }
      }

      .stars {
        margin: 10px 0;
      }
    }

    .skills {
      font-size: 18px;
    }
  }
}

@media (max-width: 357px) {
  .info {
    .line {
      &:last-child {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}