.wrapper {
  width: 240px;
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
  .image {
    width: 240px;
  }
}

.locked {
  width: 240px;
  font-size: 20px;
  overflow: hidden;
  opacity: 0.5;
  pointer-events: none;
  .image {
    width: 240px;
  }
}

.active {
  width: 240px;
  font-size: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px blue;
  .image {
    width: 240px;
  }
}

@media (max-width: 1440px) {
  .wrapper,
  .active,
  .locked {
    width: 200px;
    .image {
      width: 200px;
    }
  }
}

@media (max-width: 1024px) {
  .wrapper,
  .active,
  .locked {
    width: 300px;
    .image {
      width: 300px;
    }
  }
}

@media (max-width: 768px) {
  .wrapper,
  .active,
  .locked {
    width: 100%;
    text-align: center;
    .image {
      width: 100%;
    }
  }
}
